* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
div.pozadie_uvod_home {
    background-image: url("https://mainwebstorage.blob.core.windows.net/mediacontainers/styles/1920x1400/azure/2022-08/CC850%20HEADER.jpg?h=722a6ce8&amp;itok=Y4CN8Y5Y");
    height: calc(110vh - 92px);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: auto;
    background-size: cover;
}
svg {
    color: black;
    width: 50%;
    margin-left: 5%;
}
.navbar_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: opacity(0.7);
    background-color: black;
    position: sticky;
    top: -1em;
    z-index: 1;
}
/*uprava loga*/
.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
    margin-left: 1%;
    font-weight: bold;
    z-index: 1;
}
/*uprava loga*/
.brand-title a {
    text-decoration: none;
    color: #CC0000;
    display: block;
    z-index: 1;
}
.brand-title a:link {
    color: white;
}
/*logo v aktivnom stave*/
.brand-title a:hover {
    transform: scale(1.1);
    filter: opacity(0.7);
    transition: 1s;
}
/*zoznam v riadku */
.navbar-links ul{
    margin: 0;
    padding: 0;
    transition: 2s;
    margin-right: 1em;
    font-size:1.2rem ;
    display: flex;
    z-index: 1;
}
a{
    text-decoration: none;
}
/*uprava zoznamu*/
.navbar-links li {
    list-style: none;
    transition: 2s;
    padding-right: 1em;
    z-index: 1;
}
/*uprava zoznamu*/
.navbar-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1.1rem;
    display: block;
    z-index: 1;
}
/*upraba menu v hover stave*/
.navbar-links a:hover {
    color: white;
    filter: opacity(0.7);
    transform: scale(1.1);
    transition: 1s;
}
/*uprava hamburgera*/
.toggle-button {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
/*uprava hamburgera*/
.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: #808080;
    border-radius: 10px;
}


/* home stranka */
h1.podnadpis{
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2.5em;

}
p.text_onas{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    
}
img.obrazok_onas {
    transition: transform 0.3s ease;
}
img.obrazok_onas:hover {
    transform: scale(1.01); 
}
h2.podnadpis_onas {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 1.7rem;
}
div.autorske_prava_home{
    text-align: center;
	padding-top:3% ;
	margin-top: 5%;
	font-size:1.3em;
    color: black;
    
}







/* podstránka megacars */
body.telo_megacars {
    background-color: black;
}

.navbar_megacars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: opacity(1);
    background-color: black;
    position: sticky;
    top: -1em;
    z-index: 1;
}
h1.nadpis {
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 5%;
}
img.hover-shadow:hover {
    transform: scale(1.06);
    filter: opacity(0.5);
    translate: 2s;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  img.hover-shadow {
      cursor: pointer;
  }
  
  /* obsah v javascript galerii */

  
  /* Zatváracie tlacidlo*/
  
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
img.obrazky_megacars {
    margin-top: 10%;
}
img.obrazky_megacars:hover {
    transform: scale(1.02);
    filter: opacity(0.5);
    transition: 1s;
}
div.autorske_prava_megacars{
    text-align: center;
	padding-top:3% ;
	margin-top: 5%;
	font-size:1.3em;
    color: white;
    
}





/* podstranka contact */


/*nadpis kontakt*/
h1.kontakt_nadpis {
	font-weight: bold;
	font-size: 2.5em;
}
svg.icona_svg{
    color: #565756  ;
    margin: auto;
}
/*Posun bunky*/
div.bunka_kontakty {
	margin-bottom: 6%;
    margin: auto;
    text-align: center;
}
/*podnadpis kontakty*/
h2.kontakty_podnadpis {
	color: black;
	text-align: center;
	font-weight: bold;
	margin-top: 4%;
    text-decoration: underline;
	margin-bottom: 5%;
}
/*nastavenie formulara*/
.formular_riadok {
	padding: 1.3%;
	background-color: #f0f2f0;
	border:none;
	margin-bottom: 3%;
	font-size: 1.3em;
    border-radius: 10px;
}
/*nastavenie formulara*/
.formular_riadok:hover {
	transform: scale(1.02);
	transition: 0.5s;
}
/*nastavenie tlacidla odoslat*/
button.tlacidlo_odoslat {
	background-color: #f0f2f0;
	color: black;
	padding: 3%;

	text-align: center;
	border: none;
	font-size: 1.3em;
}
/*nastavenie tlacidla pri hover*/
button:hover {
	opacity: 80%;
	transform: scale(1.1);
	border-radius: 10px;
	transition: 2s;
}
div.autorske_prava_contact{
    text-align: center;
	padding-top:3% ;
	margin-top: 5em;
	font-size:1.3em;
    color: black;
    
}



/* podstranka technology */
div.pozadie {
    background-position: center;
    position: relative;
    opacity: 1;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
div.pozadie_engines_1 {
    background-image: url("https://mainwebstorage.blob.core.windows.net/mediacontainers/styles/1920x1400/azure/2022-01/TFG%20-%20magazine.jpg?h=14e7e879&itok=D0tDPnk8");
    height: calc(80vh - 92px);
    
}
h1.nadpis_engines {
    text-align: center;
    margin-top: 6vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 6vh;
}
p.text_engins {
    text-align: center;
}
div.pozadie_engines_2 {
    margin-top: 10vh;
    background-image: url("https://mainwebstorage.blob.core.windows.net/mediacontainers/styles/1920x1400/azure/2022-04/KenoZache_IMG_9507_1.jpg?h=51373060&itok=KjMhsyNq");
    height: calc(80vh - 92px);
    
}
div.pozadie_engines_3 {
    margin-top: 10vh;
    background-image: url("https://mainwebstorage.blob.core.windows.net/mediacontainers/styles/1920x1400/azure/2022-01/KenoZache_IMG_6812.jpg?h=92a0fee2&itok=GGkuvFrb");
    height: calc(80vh - 92px);
    
}
div.pozadie_engines_4 {
    margin-top: 10vh;
    background-image: url("https://mainwebstorage.blob.core.windows.net/mediacontainers/styles/1920x1400/azure/2022-04/Jesko_racetrack_topview_0.jpg?h=1dea590d&itok=D_V4ViLo");
    height: calc(80vh - 92px);
    
}



/* Podstranka E-shop */
div.obalovac_text {
    background-color:  #383839;
    
}
div.pozadie_shop {
    background-image: url("https://gear.koenigsegg.com/wp-content/uploads/2022/11/Gemera-Small-e1668507289367.png");
    height: calc(100vh - 92px);
}
h1#text_yellow_1 {
    color: white;

}
h1#text_yellow_2 {
    color: white;
}
p.text_uvod_shop {
    margin: auto;
    color: white;
}
p.tlacidlo_obchod {
    text-align: center;
    font-weight: bold;
    background-color: #f9f9f9;
}
p.tlacidlo_obchod:hover {
    transform: scale(1.1);
    border-radius: 5px;
    transition: 2s;
}
h1.podnadpis_shop {
    width: 80%;
    margin: auto;
    margin-top: 1.5em;
}
p.text_bunka {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: -0.3em;
}
p.cena_bunka {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}






@media (min-width: 1100px) {
    img.obrazok_onas {
        margin-top:15em;
        width: 25%;
        margin-left: 5%; 
    }
    h1.podnadpis{
        width: 100%;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    div.obalovac_onas_2 {
        margin-top: 15%;
    }
    p.text_onas {
    font-size: 1.2em;
    margin-top: 10%;
    margin: auto;
    width: 70%;
    }
    h2.podnadpis_onas {
        margin-top: 7%;
    }
    .close {
        color: white;
        top: 2em;
        right:4em;
        position: fixed;
        display: flex;
        font-size: 35px;
        font-weight: bold;
      }
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 80%;
        max-width: 50%;
      }

      /* podstranka E-SHOp */
    div.obalovac_shop {
        width: 80%;
        margin: auto;
    }
    img.obrazok_shop_1 {
        margin-left: 6%;
    }
   
   
}
@media (min-width: 1200px) {
    div.obalovac_text {
        margin-left: 5vh;
    }
    img.obrazok_shop {
        width: 50%;
        height: 200%;
    }
    h1#text_yellow_1 {
        margin-top: 10%;
        font-size: 3em;
    }
    h1#text_yellow_2 {
        margin-left: 5vh;
        font-size: 3em;
    }
    p.text_uvod_shop {
        width: 70%;
        margin: auto;
        margin-top: 2em;
    }
    p.tlacidlo_obchod {
        text-align: center;
        padding: 2%;
        width: 60%;
        margin: auto;
        margin-top: 3em;
    }
}
@media (max-width: 1200px) {
    img.obrazok_onas {
    margin: auto;
    }
    h1.podnadpis{
        width: 100%;
        margin-top: 10%;
    }
    p.text_onas {
    font-size: 1.2em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    }


      /* podstranka E-SHOp */
      div.obalovac_shop {
        width: 80%;
        margin: auto;
    }
    img.obrazok_shop_1 {
        margin: auto;
    }
    div.obalovac_text {
        margin: auto;
        margin-top: 2vh;
        text-align: center;
        padding-bottom: 2em;
    }
    img.obrazok_shop {
        width: 50%;
        height: 200%;
    }
    h1#text_yellow_1 {
        margin-top: 10%;
        font-size: 3em;
        text-align: center;
    }
    h1#text_yellow_2 {
        text-align: center;
        font-size: 3em;
    }
    p.text_uvod_shop {
        width: 70%;
        margin: auto;
        margin-top: 2em;
    }
    p.tlacidlo_obchod {
        text-align: center;
        padding: 2%;
        width: 40%;
        margin: auto;
        margin-top: 3em;
    }
    
   
}
@media (min-width: 1200px) {
    p.text_engins {
        margin-top: 15vh;
        margin-left: 15vh;
    }
    img.obrazok_engines {
        margin-left: 15vh;
    }
    
   
}
@media (max-width: 576px) {
    img.obrazok_onas {
        width: 70%;
        margin: auto;
    }
    h1.podnadpis{
        width: 100%;
        margin-top: 10%;
    }
    p.text_onas {
    font-size: 1.2em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    }
    p.text_engins {
        width: 85%;
        margin: auto;
    }
    img.obrazok_engines {
        width: 80%;
        margin: auto;
        margin-top: 4vh;
    }
        
}

@media (max-width: 1100px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        margin: auto; 
        width: 100%;
    }
    .navbar {
        background-color: black;
        filter: opacity(0.7);
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_megacars {
        background-color: black;
        filter: opacity(1);
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        margin-left: 1%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .close {
        color: white;
        top: 2em;
        right:1em;
        position: fixed;
        display: flex;
        font-size: 35px;
        font-weight: bold;
    }
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 80%;
        max-width: 70%;
      
      }
}

/*responsive dizajn pre max 500px*/
@media (max-width: 500px) {
    .navbar-links ul {
        margin-left: 10%;
    }
    .close {
        color: white;
        top: 2em;
        right:0.3em;
        padding-left: 1em;
        position: fixed;
        display: flex;
        font-size: 35px;
        font-weight: bold;
    }
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin:auto ;
        padding: 0;
        width: 80%;
        max-width: 70%;
      }
}
@media (max-width: 992px) {
    div.text_contact {
        margin-bottom: 4em;
    }
}
@media (max-width: 600px) {
    /*nastavenie formulara*/
    .formular_riadok {
        padding: 3%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        border-radius: 5px;
    }
    /*nastavenie tlacidla odoslat*/
    button.tlacidlo_odoslat {
        background-color: #f0f2f0;
        color: black;
        width: 7em;
        padding: 5%;
        border-radius: 5px;
        text-align: center;
        border: none;
        font-size: 1.1em;
    }
}

@media (max-width: 767px) {
    div.obalovac_text {
        width: 90%;
    }
    h1#text_yellow_1 {
        font-size: 2em;
        text-align: center;
    
    }
    h1#text_yellow_2 {
        font-size: 2em;
        text-align: centerx ;
    }
}


